# Latihan part-2

Buatlah database 'ass_21'

In [1]:
import mysql.connector

# Koneksi ke MySQL Server
conn = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="fawaz2402"
)

# Membuat cursor untuk berinteraksi dengan database
cursor = conn.cursor()

In [2]:
# Membuat database "ass_21" jika belum ada
cursor.execute("CREATE DATABASE ass_21")

# Beralih ke database "ass_21"
cursor.execute("USE ass_21")

Selanjutnya buat tabel 'hostpital'

In [5]:
# Membuat tabel "Hospital" jika belum ada
create_table_query = """
CREATE TABLE IF NOT EXISTS Hospital (
Hospital_Id INT UNSIGNED NOT NULL,
Hospital_Name TEXT NOT NULL,
Bed_Count INT,
PRIMARY KEY (Hospital_Id)
)
"""

cursor.execute(create_table_query)

# Mengisi data ke dalam tabel "Hospital"
insert_data_query = """
INSERT INTO Hospital (Hospital_Id, Hospital_Name, Bed_Count)
VALUES
(1, 'Mayo Clinic', 200),
(2, 'Cleveland Clinic', 400),
(3, 'Johns Hopkins', 1000),
(4, 'UCLA Medical Center', 1500)
"""

cursor.execute(insert_data_query)

# Melakukan commit perubahan ke database
conn.commit()

# Menutup cursor dan koneksi ke database
# cursor.close()
# conn.close()

print("Tabel 'Hospital' dan data telah berhasil dibuat di database 'ass_21'.")

Tabel 'Hospital' dan data telah berhasil dibuat di database 'ass_21'.

Tabel Doctor

In [3]:
# Membuat cursor untuk berinteraksi dengan database
cursor = conn.cursor()

# Beralih ke database "ass_21"
cursor.execute("USE ass_21")

In [4]:
# Membuat tabel "Doctor" jika belum ada
create_table_query = """
CREATE TABLE IF NOT EXISTS Doctor(
    Doctor_Id INT UNSIGNED NOT NULL,
    Doctor_Name TEXT NOT NULL, 
    Hospital_Id INT NOT NULL, 
    Joining_Date DATE NOT NULL, 
    Speciality TEXT NULL, 
    Salary INT NULL, 
    Experience INT NULL, 
    PRIMARY KEY (Doctor_Id)
)
"""

cursor.execute(create_table_query)

# Mengisi data ke dalam tabel "Doctor"
insert_data_query = """
INSERT INTO Doctor (Doctor_Id, Doctor_Name, Hospital_Id, Joining_Date, Speciality, Salary, Experience) 
VALUES 
(101, 'David', 1, '2005-02-10', 'Pediatric', 40000, NULL), 
(102, 'Michael', 1, '2018-07-23', 'Oncologist', 20000, NULL), 
(103, 'Susan', 2, '2016-05-19', 'Garnacologist', 25000, NULL), 
(104, 'Robert', 2, '2017-12-28', 'Pediatric', 28000, NULL), 
(105, 'Linda', 3, '2004-06-04', 'Garnacologist', 42000, NULL), 
(106, 'William', 3, '2012-09-11', 'Dermatologist', 30000, NULL), 
(107, 'Richard', 4, '2014-08-21', 'Garnacologist', 32000, NULL), 
(108, 'Karen', 4, '2011-10-17', 'Radiologist', 30000, NULL)
"""

cursor.execute(insert_data_query)

# Melakukan commit perubahan ke database
conn.commit()

# Menutup cursor dan koneksi ke database
# cursor.close()
# conn.close()

print("Tabel 'Doctor' dan data telah berhasil dibuat di database 'ass_21'.")

Tabel 'Doctor' dan data telah berhasil dibuat di database 'ass_21'.

Lengkapi beberapa fungsi berikut ini agar mendapatkan output sesuai dengan yang diharapkan.

In [2]:
import mysql.connector

def get_connection():
    #tambahkan connection ke database
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        passwd="fawaz2402",
        database="ass_21"
    )
    
    return connection

def close_connection(connection):
    if connection:
        connection.close()

def get_hospital_detail(hospital_id):
    #lengkapi disini
    try:
        connection = get_connection()
        cursor = connection.cursor()
        select_query = """SELECT *
        FROM Hospital
        WHERE hospital_id = %s"""
        val = (hospital_id,)
        cursor.execute(select_query, val)
        records = cursor.fetchall()
        print("Mencetak Record Rumah Sakit")
        
        #lengkapi bagian ini dengan looping dari records
        for data in records:
            print('Hospital ID :',data[0])
            print('Hospital Name :',data[1])
            print('Bed Count :', data[2])
           
        close_connection(connection)
    except (Exception, mysql.connector.Error) as error:
        print("Error ketika mengambil data", error)

def get_doctor_detail(doctor_id):
    #lengkapi bagian ini
    try:
        connection = get_connection()
        cursor = connection.cursor()
        select_query = """SELECT *
        FROM Doctor
        WHERE Doctor_id = %s"""
        val = (doctor_id,)
        cursor.execute(select_query, val)
        records = cursor.fetchall()
        print("\nMencetak Record Doctor")
        
        #lengkapi bagian ini dengan looping dari records
        for data in records:
            print('Doctor ID :',data[0])
            print('Doctor name :',data[1])
            print('Hospital ID :',data[2])
            print('Joining Date :',data[3])
            print('Speciality :',data[4])
            print('Salary :',data[5])
            print('Experience :',data[6])
           
        close_connection(connection)
    except (Exception, mysql.connector.Error) as error:
        print("Error ketika mengambil data", error)

print("Baca rincian rumah sakit (hospital id=3) dan dokter (dokter id=103)\n")
get_hospital_detail(3)
get_doctor_detail(103)
#panggil fungsinya

Baca rincian rumah sakit (hospital id=3) dan dokter (dokter id=103)

Mencetak Record Rumah Sakit
Hospital ID : 3
Hospital Name : Johns Hopkins
Bed Count : 1000

Mencetak Record Doctor
Doctor ID : 103
Doctor name : Susan
Hospital ID : 2
Joining Date : 2016-05-19
Speciality : Garnacologist
Salary : 25000
Experience : None

Output:

```
Baca rincian rumah sakit (hospital id=3) dan dokter (dokter id=103)

Mencetak Record Rumah Sakit
Hospital Id: 3
Hospital Name: Johns Hopkins
Bed Count: 1000


Mencetak Record Doktor
Doctor Id: 103
Doctor Name: Susan
Hospital Id: 2
Joining Date: 2016-05-19
Specialty: Garnacologist
Salary: 25000
Experience: None
```

# Latihan part-3

1. Dari fungsi sebelumnya buatlah perintah untuk menampilkan Record rumah sakit berdasarkan Id dan menampilkan record dokter dengan Id yang sama seperti rumah sakit.

    Contoh :
    Jika Hospital Id:3 , maka doctornya adalah Linda dan William.

In [3]:
def get_hospital_detail(hospital_id):
    #lengkapi disini
    try:
        connection = get_connection()
        cursor = connection.cursor()
        select_query = """SELECT *
        FROM Hospital h
        INNER JOIN Doctor d
        on h.hospital_id = d.hospital_id
        WHERE h.hospital_id = %s"""
        val = (hospital_id,)
        cursor.execute(select_query, val)
        records = cursor.fetchall()
        print("Mencetak Record Rumah Sakit")
        
        #lengkapi bagian ini dengan looping dari records
        print('Hospital ID :',records[0][0])
        print('Hospital Name :',records[0][1])
        print('Bed Count :', records[0][2])
        print(f'\nList dokter yang ada pada Hospital "{records[0][1]}" :')
        for data in records:
            print('-',data[4])
           
        close_connection(connection)
    except (Exception, mysql.connector.Error) as error:
        print("Error ketika mengambil data", error)

get_hospital_detail(3)

Mencetak Record Rumah Sakit
Hospital ID : 3
Hospital Name : Johns Hopkins
Bed Count : 1000

List dokter yang ada pada Hospital "Johns Hopkins" :
- Linda
- William


2. Buatlah fungsi untuk mendapatkan output seperti berikut dengan pemanggilan fungsinya:
`get_doctor_specialist("Garnacologist", 30000)`

    output:

    ```
    Mencetak dokter yang spesialisasinya adalah Garnacologist dan gaji lebih dari 30000
    
    Doctor Id:  105
    Doctor Name: Linda
    Hospital Id: 3
    Joining Date: 2004-06-04
    Specialty: Garnacologist
    Salary: 42000
    Experience: None 
    
    Doctor Id:  107
    Doctor Name: Richard
    Hospital Id: 4
    Joining Date: 2014-08-21
    Specialty: Garnacologist
    Salary: 32000
    Experience: None 
    ```

In [4]:
def get_doctor_specialist(speciality,salary):
    try:
        connection = get_connection()
        cursor = connection.cursor()
        select_query = """SELECT *
        FROM Doctor
        WHERE Speciality = %s AND Salary > %s"""
        val = (speciality,salary)
        cursor.execute(select_query, val)
        records = cursor.fetchall()
        print(f"\nMencetak Record Doctor dengan Speciality '{speciality}' dan Salary lebih besar dari {salary}")
        
        #lengkapi bagian ini dengan looping dari records
        for data in records:
            print('Doctor ID :',data[0])
            print('Doctor name :',data[1])
            print('Hospital ID :',data[2])
            print('Joining Date :',data[3])
            print('Speciality :',data[4])
            print('Salary :',data[5])
            print('Experience :',data[6])
            print('')
           
        close_connection(connection)
    except (Exception, mysql.connector.Error) as error:
        print("Error ketika mengambil data", error)
    
get_doctor_specialist("Garnacologist",30000)

Mencetak Record Doctor dengan Speciality 'Garnacologist' dan Salary lebih besar dari 30000
Doctor ID : 105
Doctor name : Linda
Hospital ID : 3
Joining Date : 2004-06-04
Speciality : Garnacologist
Salary : 42000
Experience : None

Doctor ID : 107
Doctor name : Richard
Hospital ID : 4
Joining Date : 2014-08-21
Speciality : Garnacologist
Salary : 32000
Experience : None

3. Buatlah perintah dengan python untuk mencetak data doctor yang Joining_Date diatas bulan ke 5, dan simpan data ke CSV

In [5]:
import pandas as pd
import numpy as np

def get_doctor_join_month(month):
    try:
        connection = get_connection()
        cursor = connection.cursor()
        select_query = """SELECT *
        FROM Doctor
        WHERE MONTH(Joining_Date) > %s"""
        val = (month,)
        cursor.execute(select_query, val)
        records = cursor.fetchall()
        print(f"Mencetak Record Doctor yang masuk diatas bulan {month}\n")
        
        # lengkapi bagian ini dengan looping dari records
        for data in records:
            print('Doctor ID :',data[0])
            print('Doctor name :',data[1])
            print('Hospital ID :',data[2])
            print('Joining Date :',data[3])
            print('Speciality :',data[4])
            print('Salary :',data[5])
            print('Experience :',data[6])
            print('')
         
        columns_name = [i[0] for i in cursor.description]
        # print(cursor.description)
        df = pd.DataFrame(records,columns=columns_name)
        csv_name = "doctor_join_date_after_" + str(month) + ".csv"
        df.to_csv(csv_name,index=False)


        close_connection(connection)
    except (Exception, mysql.connector.Error) as error:
        print("Error ketika mengambil data", error)

get_doctor_join_month(5)

Mencetak Record Doctor yang masuk diatas bulan 5

[('Doctor_Id', 3, None, None, None, None, 0, 53283, 63), ('Doctor_Name', 252, None, None, None, None, 0, 4113, 255), ('Hospital_Id', 3, None, None, None, None, 0, 36865, 63), ('Joining_Date', 10, None, None, None, None, 0, 4225, 63), ('Speciality', 252, None, None, None, None, 1, 16, 255), ('Salary', 3, None, None, None, None, 1, 32768, 63), ('Experience', 3, None, None, None, None, 1, 32768, 63)]