## Assignment Sesi 16 - Analyze Diabetes Dataset
This assignment will be using [this dataset (Diabetes Dataset)](https://raw.githubusercontent.com/stefkwan-h8/dataset/main/diabetes.csv) to be analyze, explore, manipulate, and filter.

This analysis will be using Python with Pandas and NumPY library

In [2]:
# Nomor 1 - Import Library
import pandas as pd
import numpy as np

In [3]:
# Nomor 2 - Download data
# Nomor 3 - Import data to Dataframe
df_diabetes = pd.read_csv("https://raw.githubusercontent.com/stefkwan-h8/dataset/main/diabetes.csv")
df_diabetes

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [75]:
# Data yang dipilih untuk dihitung statistiknya adalah Kolom BMI
df_diabetes_bmi = df_diabetes["BMI"]
df_diabetes_bmi

0      33.6
1      26.6
2      23.3
3      28.1
4      43.1
       ...
763    32.9
764    36.8
765    26.2
766    30.1
767    30.4
Name: BMI, Length: 768, dtype: float64

In [76]:
# Nomor 4 - Statistic of Some Column
arr_diabetes_bmi = np.array(df_diabetes_bmi) # Convert Dataframe BMI to Array

# Kalkulasi Statistik
diabetes_bmi_avg = arr_diabetes_bmi.mean() # AVG BMI
diabetes_bmi_median = np.median(arr_diabetes_bmi) # MEDIAN BMI
diabetes_bmi_std = arr_diabetes_bmi.std() # STD Deviat ion
diabetes_bmi_min = arr_diabetes_bmi.min() # Min of BMI
diabetes_bmi_max = arr_diabetes_bmi.max() # Max of BMI


print("Average of BMI from dataset : ",diabetes_bmi_avg)
print("Median of BMI from dataset : ",diabetes_bmi_median)
print("Standard Deviation BMI from dataset : ",diabetes_bmi_std)
print("Min value of BMI from dataset : ",diabetes_bmi_min)
print("Max value of BMI from dataset : ",diabetes_bmi_max)

Average of BMI from dataset :  31.992578124999998
Median of BMI from dataset :  32.0
Standard Deviation BMI from dataset :  7.87902573154013
Min value of BMI from dataset :  0.0
Max value of BMI from dataset :  67.1

In [81]:
# Nomor 5 - Put new Column
df_diabetes_with_ratio = df_diabetes
df_diabetes_with_ratio.insert(len(df_diabetes.columns),'RatioBMItoBP',(df_diabetes["BMI"]/df_diabetes["BloodPressure"]))

df_diabetes_with_ratio

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,RatioBMItoBP
0,6,148,72,35,0,33.6,0.627,50,1,0.466667
1,1,85,66,29,0,26.6,0.351,31,0,0.403030
2,8,183,64,0,0,23.3,0.672,32,1,0.364063
3,1,89,66,23,94,28.1,0.167,21,0,0.425758
4,0,137,40,35,168,43.1,2.288,33,1,1.077500
...,...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0,0.432895
764,2,122,70,27,0,36.8,0.340,27,0,0.525714
765,5,121,72,23,112,26.2,0.245,30,0,0.363889
766,1,126,60,0,0,30.1,0.349,47,1,0.501667
767,1,93,70,31,0,30.4,0.315,23,0,0.434286

In [82]:
# Nomor 6 - Input New Data (Randomly) to Dataframe
rng = np.random.default_rng()

new_row = [rng.integers(5), rng.integers(90,180), rng.integers(50,70), rng.integers(0,40), 0, rng.integers(20,40), np.random.rand(), rng.integers(20,50), 0, np.random.rand()]
df_diabetes_with_ratio.loc[len(df_diabetes_with_ratio)] = new_row

In [85]:
df_diabetes_with_ratio

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,RatioBMItoBP
0,6.0,148.0,72.0,35.0,0.0,33.6,0.627000,50.0,1.0,0.466667
1,1.0,85.0,66.0,29.0,0.0,26.6,0.351000,31.0,0.0,0.403030
2,8.0,183.0,64.0,0.0,0.0,23.3,0.672000,32.0,1.0,0.364063
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167000,21.0,0.0,0.425758
4,0.0,137.0,40.0,35.0,168.0,43.1,2.288000,33.0,1.0,1.077500
...,...,...,...,...,...,...,...,...,...,...
764,2.0,122.0,70.0,27.0,0.0,36.8,0.340000,27.0,0.0,0.525714
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245000,30.0,0.0,0.363889
766,1.0,126.0,60.0,0.0,0.0,30.1,0.349000,47.0,1.0,0.501667
767,1.0,93.0,70.0,31.0,0.0,30.4,0.315000,23.0,0.0,0.434286
768,0.0,147.0,50.0,0.0,0.0,36.0,0.396562,34.0,0.0,0.552485

In [93]:
# Nomor 7 - Filter Data tertentu
df_diabetes_1 = df_diabetes_with_ratio[df_diabetes_with_ratio["Outcome"] == 1]

# Nomor 8 - Simpan data filter menuju CSV baru
df_diabetes_1.to_csv("diabetes_outcome_1.csv")

In [112]:
# Nomor 9 - Pattern tertentu
df_bmi_above_avg = df_diabetes_with_ratio[df_diabetes_with_ratio["BMI"] >= diabetes_bmi_avg]
df_bmi_above_avg_1 = df_bmi_above_avg[df_bmi_above_avg["Outcome"] == 1]
count_bmi_above_avg_1 = df_bmi_above_avg_1["Outcome"].count()
print("Jumlah orang yang memiliki BMI diatas rata-rata dan positif diabetes :",count_bmi_above_avg_1)

count_1 = df_diabetes_1["Outcome"].count()
print("Jumlah orang yang positif diabetes :",count_1)

ratio_bmi_above_avg = count_bmi_above_avg_1/count_1
print("\nRatio antara BMI diatas rata-rata dan positif diabetes dengan total orang positif : %.5f"%ratio_bmi_above_avg)

Jumlah orang yang memiliki BMI diatas rata-rata dan positif diabetes : 184
Jumlah orang yang positif diabetes : 268

Ratio antara BMI diatas rata-rata dan positif diabetes dengan total orang positif : 0.68657

In [4]:
df_diabetes["BMI"].value_counts()

BMI
32.0    13
31.6    12
31.2    12
0.0     11
32.4    10
        ..
36.7     1
41.8     1
42.6     1
42.8     1
46.3     1
Name: count, Length: 248, dtype: int64

### Nomor 9
Berdasarkan ratio antara BMI diatas rata-rata dan positif diabetes dengan total orang positif, terdapat kolerasi antara orang yang memiliki BMI diatas rata-rata dengan terjadinya diabetes