In [8]:
def isGanjil(num):
  return "Ganjil" if (int(num) % 2 == 1) else "Genap"
text_input = ''
while((text_input.lower()) != 'stop'):
  print("Masukkan angka ('stop' untuk berhenti) :")
  text_input = input()
  try:
    val = int(text_input)
    print("Angka " + text_input + " adalah angka " + isGanjil(text_input))
  except ValueError:
    if(text_input.lower() == 'stop'):
        print("Program selesai")
        break
    else:
        print("Masukkan angka yang valid!")

Masukkan angka ('stop' untuk berhenti) :

 ayam

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

 2

Angka 2 adalah angka Genap
Masukkan angka ('stop' untuk berhenti) :

 3

Angka 3 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 4

Angka 4 adalah angka Genap
Masukkan angka ('stop' untuk berhenti) :

 5

Angka 5 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 6

Angka 6 adalah angka Genap
Masukkan angka ('stop' untuk berhenti) :

 6

Angka 6 adalah angka Genap
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

 7

Angka 7 adalah angka Ganjil
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

Masukkan angka yang valid!
Masukkan angka ('stop' untuk berhenti) :

 STOP

Program selesai

In [22]:
import sqlalchemy as sql
import mysql.connector as conn
import pandas as pd

In [26]:
testDB = conn.connect(
    user = 'root',
    password='fawaz2402',
    host='127.0.0.1',
    database='hacktiv8'
    )

In [27]:
query = 'SELECT * FROM customers'
result = pd.read_sql(query, testDB)
testDB.close()
result.head()

D:\Users\bsi80190\AppData\Local\Temp\ipykernel_24436\2062879361.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql(query, testDB)

   id            name             email   age  birth_date        address
0   1        John Doe  johndoe@mail.com  20.0  2012-01-09  Jalan Kesemek
1   2           Emily    emily@mail.com   NaN        None   Jalan Durian
2   8  Schmitt Carine  scarine@mail.com  25.0  2007-01-09     Jalan Apel

In [29]:
db_host = 'localhost'
db_port = '3306'
db_user = 'root'
db_password = 'fawaz2402'
db_name = 'hacktiv8'

# Buat URL koneksi
db_url = f'mysql+pymysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'
# db_url = 'mysql://root:12345678@localhost/hacktiv8'

sql_engine = sql.create_engine(db_url)

# Tes koneksi
try:
    connection = sql_engine.connect()
    print("Koneksi berhasil")
    connection.close()
except Exception as e:
    print("Koneksi gagal:", str(e))

Koneksi berhasil

In [31]:
df = pd.read_sql(query, sql_engine)
df

   id            name             email   age  birth_date        address
0   1        John Doe  johndoe@mail.com  20.0  2012-01-09  Jalan Kesemek
1   2           Emily    emily@mail.com   NaN        None   Jalan Durian
2   8  Schmitt Carine  scarine@mail.com  25.0  2007-01-09     Jalan Apel