In [5]:
import mysql.connector

cnx = mysql.connector.connect(
    user='root',
    password='fawaz2402',
    host='localhost')

In [6]:
# get cursor from connection
cur = cnx.cursor()

# Query to execute

query = """select *
from hacktiv8.players
limit 5"""

#  execute this query
cur.execute(query)

# get rows
rows  = cur.fetchall()

ProgrammingError: 1146 (42S02): Table 'hacktiv8.players' doesn't exist

In [7]:
for r in rows:
    print(r)

('Cincinnati Bearcats', 'Cincinnati', 'Ralph Abernathy', 'RB', 67.0, 161.0, 'JR', 'ATLANTA, GA', 'GA', 1)
('Cincinnati Bearcats', 'Cincinnati', 'Mekale McKay', 'WR', 78.0, 195.0, 'SO', 'LOUISVILLE, KY', 'KY', 2)
('Cincinnati Bearcats', 'Cincinnati', 'Trenier Orr', 'CB', 71.0, 177.0, 'SO', 'WINTER GARDEN, FL', 'FL', 3)
('Cincinnati Bearcats', 'Cincinnati', 'Bennie Coney', 'QB', 75.0, 216.0, 'FR', 'PLANT CITY, FL', 'FL', 4)
('Cincinnati Bearcats', 'Cincinnati', 'Johnny Holton', 'WR', 75.0, 190.0, 'JR', 'MIAMI, FL', 'FL', 5)

# Materi

Hapus database

In [8]:
import mysql.connector

db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="fawaz2402"
)

cursor = db.cursor()

# Nama database yang akan dihapus
database_name = "ftds"  # Ganti dengan nama database yang ingin Anda hapus

# Mengecek apakah database tersebut ada sebelum dihapus
cursor.execute("SHOW DATABASES")
databases = [database[0] for database in cursor]

if database_name in databases:
    # Menghapus database
    cursor.execute(f"DROP DATABASE {database_name}")
    print(f"Database '{database_name}' berhasil dihapus.")
else:
    print(f"Database '{database_name}' tidak ditemukan.")

Database 'ftds' tidak ditemukan.

buat database FTDS

In [10]:
import mysql.connector

db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="fawaz2402"
)

cursor = db.cursor()
cursor.execute("CREATE DATABASE ftds")

print("Database Successfully Created")

Database Successfully Created

Buat tabel student

In [11]:
cursor = db.cursor()
cursor.execute("USE ftds")

sql = """CREATE TABLE student (
  student_id INT AUTO_INCREMENT PRIMARY KEY,
  name VARCHAR(255),
  address Varchar(255)
)
"""
cursor.execute(sql)

print("Student Table Successfully Created")

Student Table Successfully Created

insert data

Memasukan beberapa data ke tabel

In [13]:
cursor = db.cursor()
cursor.execute("USE ftds")

sql = "INSERT INTO student (name, address) VALUES (%s, %s)"
values = [
  ("Danu", "Jakarta"),
  ("Fahmi", "Surabaya"),
  ("Sardi", "Bandung"),
  ("Hana", "Depok")
]

for val in values:
  cursor.execute(sql, val)
  db.commit()

print("{} data added".format(len(values)))

4 data added

Mendapatkan data dari database

In [14]:
import mysql.connector

db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="fawaz2402",
  database="ftds"
)

cursor = db.cursor()
sql = "SELECT * FROM student"
cursor.execute(sql)

results = cursor.fetchall() #ada juga fetchone()
# print(results) #jika dengan fetchone() langsung print

for data in results:
  print(data)

(1, 'Raka', 'Semarang')
(2, 'Danu', 'Jakarta')
(3, 'Fahmi', 'Surabaya')
(4, 'Sardi', 'Bandung')
(5, 'Hana', 'Depok')

Update data

In [15]:
cursor = db.cursor()
sql = "UPDATE student SET name=%s, address=%s WHERE student_id=%s"
val = ("Rachman", "Lombok", 1)
cursor.execute(sql, val)

db.commit()

print("{} data updated".format(cursor.rowcount))

1 data updated

cek kembali data yang telah di update

In [18]:
cursor = db.cursor()
sql = "SELECT * FROM student"
cursor.execute(sql)

results = cursor.fetchall() #ada juga fetchone()
# print(results) #jika dengan fetchone() langsung print

for data in results:
  print(data)

(2, 'Danu', 'Jakarta')
(3, 'Fahmi', 'Surabaya')
(4, 'Sardi', 'Bandung')
(5, 'Hana', 'Depok')

delete data

In [17]:
cursor = db.cursor()
sql = "DELETE FROM student WHERE student_id=%s"

val = (1, ) #delete student_id = 1
cursor.execute(sql, val)

db.commit()

print("{} data deleted".format(cursor.rowcount))

1 data deleted

In [12]:
cursor = db.cursor()
cursor.execute("USE ftds")

#perintah untuk insert
sql = "INSERT INTO student (name, address) VALUES (%s, %s)"
val = ("Raka", "Semarang")
cursor.execute(sql, val)

db.commit()

print("{} data added ".format(cursor.rowcount))

1 data added

# Latihan Part-1

Terakhir, legkapi perintah berikut:

In [5]:
import mysql.connector
import os

db = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="fawaz2402",
  database="ftds"
)


def insert_data(db):
  #insert data dengan fungsi input nama dan alamat
  cursor = db.cursor()
  
  nama = input('Masukkan nama yang ingin di input : ')
  alamat = input('Masukkan alamat yang ingin di input : ')

  sql = "INSERT INTO student (name, address) VALUES (%s, %s)"
  
  val = (nama, alamat)
  cursor.execute(sql, val)

  db.commit()
  print(f'Data ({nama}, {alamat})  sudah masuk kedalam db')
  

def show_data(db):
  #show data dengan fetchall
  cursor = db.cursor()
  sql = "SELECT * FROM student"
  cursor.execute(sql)

  results = cursor.fetchall() #ada juga fetchone()
  # print(results) #jika dengan fetchone() langsung print

  for data in results:
    print(data)

def update_data(db):
  #update data
  cursor = db.cursor()
  sql = "UPDATE student SET name=%s, address=%s WHERE student_id=%s"

  student_id = int(input('Masukkan student_id yang datanya ingin di rubah : '))
  name = input(f'Masukkan nama baru untuk student_id {student_id} : ')
  address = input(f'Masukkan alamat baru untuk student_id {student_id} : ')

  val = (name, address, student_id)
  cursor.execute(sql, val)

  db.commit()

  print(f'Data student_id : {student_id} telah dirubah menjadi ({name}, {address}) dan sudah masuk kedalam db')



def delete_data(db):
  #delete data berdasarkan id
  cursor = db.cursor()
  sql = "DELETE FROM student WHERE student_id=%s"
  student_id = int(input('Masukkan student_id yang datanya ingin di hapus : '))

  val = (student_id, ) #delete student_id = 1
  cursor.execute(sql, val)

  db.commit()
  print(f'Data student_id {student_id} berhasil di hapus dari DB')


def search_data(db):
  #search data berdasarkan nama dan alamat, gunakan LIKE
  cursor = db.cursor()

  name = input('Masukkan nama yang ingin di cari : ')
  address = input(f'Masukkan alamat dari nama {name} : ')

  name = name + '%'
  address = address + '%'

  sql = """
    SELECT * FROM student
    WHERE name LIKE %s AND address LIKE %s
  """
  val = (name,address)
  cursor.execute(sql, val)
  results = cursor.fetchall()

  for data in results:
    print(data)

# Fungsi utamanya
def show_menu(db):
  print("\n=== H8 Python MySQL Exercise ===")
  print("1. Insert Data")
  print("2. Show Data")
  print("3. Update Data")
  print("4. Delete Data")
  print("5. Search Data")
  print("0. Exit")
  print("------------------")
  menu = input("Masukkan nomor menu :")

  #clear screen
  os.system("clear")

  if menu == "1":
    insert_data(db)
    return 1
  elif menu == "2":
    show_data(db)
    return 1
  elif menu == "3":
    update_data(db)
    return 1
  elif menu == "4":
    delete_data(db)
    return 1
  elif menu == "5":
    search_data(db)
    return 1
  elif menu == "0":
    print("Terima kasih telah menggunakan!")
    return 0
  else:
    print("Wrong Input")
    return 1

if __name__ == "__main__":
  index = 1
  while index:
    index = show_menu(db)

=== H8 Python MySQL Exercise ===
1. Insert Data
2. Show Data
3. Update Data
4. Delete Data
5. Search Data
0. Exit
------------------

(7, 'Duta', 'Yogyakarta')

=== H8 Python MySQL Exercise ===
1. Insert Data
2. Show Data
3. Update Data
4. Delete Data
5. Search Data
0. Exit
------------------
Terima kasih telah menggunakan!